{% extends "basehv.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content_derecho%}

<!-- <iframe src="./guardar_foto" style="width:4.5cm; height:200px; position: absolute;"></iframe> -->

<!--nuevo modal-->

<!-- Inicion Modal -->


<div class="modal fade" id="modalUpload" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div id="modalTitle" style="text-align: left;color: rgb(255, 255, 255);">

        </div>
      </div>



      <div class="modal-body">


        <form enctype="multipart/form-data" method="post" action="phot_profil" id="uploadForm">
          {% csrf_token %}

          <div style="text-align:center;">
            <img id="previewImg" style="width:60%;">
          </div>

          <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
            <div style="width: 70%;;">
              <input type="file" name="fileInput" id="fileInput" class="upload-img green" data-ruta="">
            </div>
          </div>

          <input type="hidden" id="fieldName">
        </form>

      </div>

      <div class="modal-footer" style="justify-content: center; align-items: center;"">

        <button class=" btn btn-success btn-sm" type="submit" form="uploadForm">
        Guardar
        </button>


        <button type="button" id="deleteBtn" class="btn btn-danger btn-sm">
          Eliminar
        </button>

        <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
          Cancelar
        </button>
      </div>

    </div>
  </div>
</div>

<div class="posicion_hv_html">
  <div class="class_div">

    <table>
      <tr>
        <td width="30px">
          <img src="{% static 'bs532/img/imghv/avatar.svg' %}" style=" border-radius: 15px; width: 100%;"
            alt="My image">
        </td>
        <td width="20px">

        </td>
        <td style="font-size:15px;">
          <b class="text-uppercase">Registro datos personales</b>
        </td>
      </tr>
    </table>

    <hr>

    {% if user.is_staff %}
    <div style="display: flex; gap: 15px;">

      <div class="card mb-3 p-3 bg-light" style="width: 100%;">

        <div class="clase_titulo_portadas">
          Imagen de la portada principal
        </div>
        <a data-bs-toggle="modal" data-bs-target="#cargar_portada" class="foto-box d-block"
          onclick="openModal('imagen_de_portada','{{qryset_foto_obj.imagen_de_portada}}' ,'{{img_portada_url}}', '{% url 'delete_image' 'imagen_de_portada' %}')">
          {% if img_portada_url %}
          <img class="clsimg my_img_html" src="{{img_portada_url}}" style="position: relative; width: 100%; ">
          {% else %}
          <div class="mi-portada-backw">
          </div>
          {% endif %}
        </a>
      </div>


      <div class="card mb-3 p-3 bg-light" style="width: 100%;">
        <div class="clase_titulo_portadas">
          Imagen de login y registro
        </div>
        <a data-bs-toggle="modal" data-bs-target="#cargar_panel_izquierdo" class="foto-box d-block"
          onclick="openModal('imagen_panel_izquierdo','{{qryset_foto_obj.imagen_panel_izquierdo}}' ,'{{portada_izquierda_url}}', '{% url 'delete_image' 'imagen_de_portada' %}')">
          {% if img_portada_url %}
          <img class="clsimg my_img_html" src="{{portada_izquierda_url}}" style="position: relative; width: 100%; ">
          {% else %}
          <div class="mi-portada-backw">
          </div>
          {% endif %}
        </a>
      </div>
    </div>
    {% endif %}

    <form enctype="multipart/form-data" action="person_dat" method="post">
      {% csrf_token %}

      <!-- FOTO + DATOS PRINCIPALES -->
      <div class="card mb-3 p-3 bg-light">
        <div class="row g-3 align-items-start">

          <!-- FOTO -->
          <div class="col-md-3 text-center">
            <table style="width:170px">
              <tr>
                <td>

                  <!-- FOTO -->
                  <div>

                    <a data-bs-toggle="modal" data-bs-target="#cargarfoto" class="foto-box d-block"
                      onclick="openModal('foto_perfil','{{qryset_foto_obj.foto_perfil}}','{{foto_perfil}}', '{% url 'delete_image' 'foto_perfil' %}')">
                      {% if foto_perfil %}
                      <img class="clsimg my_img_html" src="{{foto_perfil}}" style="position: relative; width: 100%; ">
                      {% else %}
                      <div class="mi-portada-backw">
                      </div>
                      {% endif %}
                    </a>
                  </div>

                </td>
              </tr>
            </table>
            <!-- <a data-bs-toggle=" modal" data-bs-target="#cargarfoto" id="idimgfot" class="foto-box d-block"></a>
                    -->
          </div>

          <!-- CAMPOS FILA 1 -->
          <div class="col-md-9">
            <div class="row g-3">
              <div class="col-md-4">{{form.documento_identificacion|as_crispy_field}}</div>
              <div class="col-md-4">{{form.numero_identificacion|as_crispy_field}}</div>
              <div class="col-md-4">{{form.titulo_mas_reciente|as_crispy_field}}</div>

              <div class="col-md-4">{{form.fecha_expedicion_documento|as_crispy_field}}</div>
              <div class="col-md-4">{{form.ciudad_expedicion_documento|as_crispy_field}}</div>
              <div class="col-md-4">{{form.universidad_titulo_mas_reciete|as_crispy_field}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 p-3">
        {{form.perfil_profesional|as_crispy_field}}
      </div>
      <div class="card mb-3 p-3 bg-light">
        <div class="row g-3">
          <div class="col-md-3">{{form.primer_nombre|as_crispy_field}}</div>
          <div class="col-md-3">{{form.segundo_nombre|as_crispy_field}}</div>
          <div class="col-md-3">{{form.primer_apellido|as_crispy_field}}</div>
          <div class="col-md-3">{{form.segundo_apellido|as_crispy_field}}</div>
        </div>
      </div>
      <div class="card mb-3 p-3 bg-light">
        <div class="row g-3">
          <div class="col-md-4">{{form.genero_sexual|as_crispy_field}}</div>
          <div class="col-md-4">{{form.grupo_sanguineo|as_crispy_field}}</div>
          <div class="col-md-4">{{form.estado_civil|as_crispy_field}}</div>

          <div class="col-md-4">{{form.pais_origen|as_crispy_field}}</div>
          <div class="col-md-4">{{form.departamento_origen|as_crispy_field}}</div>
          <div class="col-md-4">{{form.nacionalidad|as_crispy_field}}</div>

          <div class="col-md-4">{{form.ciudad_nacimiento|as_crispy_field}}</div>
          <div class="col-md-4">{{form.fecha_nacimiento|as_crispy_field}}</div>
          <div class="col-md-4">{{form.ciudad_residencia|as_crispy_field}}</div>

          <div class="col-md-4">{{form.direccion_residencia|as_crispy_field}}</div>
          <div class="col-md-4">{{form.telefono_celular|as_crispy_field}}</div>
          <div class="col-md-4">{{form.correo_electronico|as_crispy_field}}</div>

          <div class="col-md-4">{{form.libreta_militar|as_crispy_field}}</div>
          <div class="col-md-4">{{form.distrito_militar|as_crispy_field}}</div>
          <div class="col-md-4">{{form.cuenta_github|as_crispy_field}}</div>
        </div>
      </div>

      <div class="card form-grid bg-light mb-3 p-3">

        <div class="diploma-row">
          <div>
            <label class="cargar_documento_whith" for="fotocopia_documento">Adjuntar documento en (<b
                style='color:red'>.pdf</b>)
              <div style="margin-top:7px">
                <input type="file" name="fotocopia_documento" id="fotocopia_documento" class="upload-img green"
                  data-ruta="{{doc_name_PDF.fotocopia_documento}}">
              </div>
            </label>

            <div class="error-upload">
              {{ form.fotocopia_documento.errors.as_text }}
            </div>
          </div>
          {% if not form.fotocopia_documento.errors %}

          <a onclick="funcionVisualizarModal('{{doc_name_PDF.documento_diploma_url}}','Documento de identidad')"
            data-bs-toggle="modal" data-bs-target="#vercedula">
            <img src="{% static 'bs532/img/ver_violeta.svg' %}" width="20" style="margin-top: 27px;">
          </a>

          <a href="delete_file">
            <img src="{% static 'bs532/img/eliminar.svg' %}" width="20" style="margin-top: 27px;">
          </a>
          {% endif %}

        </div>

      </div>

      <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-sm btn-outline-success" type="submit">
          <table>
            <tr>
              <td>
                <img src="{% static 'bs532/img/imghv/guardar.svg' %}"
                  style="display: flex; width:20px;align-items: center;" alt="My image">
              </td>
              <td>
                Guardar
              </td>
            </tr>
          </table>

        </button>


        <a href="{% url 'hojadevida' %}" class="btn btn-sm btn-outline-danger">

          <table>
            <tr>
              <td>
                <img src="{% static 'bs532/img/imghv/Cancelar.svg' %}"
                  style="display: flex; width:20px;align-items: center;" alt="My image">
              </td>
              <td>
                Cancelar
              </td>
            </tr>
          </table>
        </a>

      </div>

    </form>

  </div>
</div>

<script>
  function openModal(field, image_field, imageUrl, deleteUrl) {

    const modal = document.getElementById("modalUpload");

    document.getElementById("modalTitle").innerHTML = `
            <div style="padding: 10px; background-color: #f65454;  border-radius: 8px;">
               
                    Por favor, cargue una imagen menor 1 MB y con extensiones .png o .jpg. Otra clase de formato no esta
                    permitido.
               
            </div>
            `;

    const span_name = document.querySelector(".file-name");

    console.log(image_field);

    if (image_field) {
      span_name.innerHTML = image_field.split("/").pop();
    } else {
      span_name.innerHTML = "Cargar un archivo";
    }

    const fileInput = document.getElementById("fileInput");
    fileInput.name = field;
    fileInput.dataset.ruta = imageUrl;

    document.getElementById("fieldName").value = field;
    document.getElementById("previewImg").src = imageUrl || "";

    document.getElementById("deleteBtn").onclick = () => {
      window.location.href = deleteUrl;
    };

    new bootstrap.Modal(modal).show();
  }
</script>

{% endblock content_derecho %}