{% extends "basehv.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content_derecho%}

<!--ESTILO 1-->

<script>

  function RegistroProduccionAcademica(condicional, id_explab = '{{ id_actual }}',
    autores_trabajo, nombre_trabajo,
    pais_publicacion, fecha_publicacion, nombre_revista,
    area_concentracion, linea_pesquisa, doi_link_publicacion) {

    experiencia_laboral.innerHTML = ``
    registro_experiencia_laboral.innerHTML = `

  <div class="class_div" >
    {% if errform %}
    <div style="margin:0px; padding: 1px;background-color: rgb(255, 0, 0); width:63%; margin-left: 5cm;">
      <h5 style="color: white;margin-top:5px;">
        <b>&nbsp&nbsp
          No se ha podido enviar los datos, por favor revise el formulario
        </b>
      </h5>
    </div>
    <br>
    {% endif%}
   
 <table style="width:100%">
      <tr>
        <td width="35px">
          <img src="{% static 'bs532/img/imghv/cientifica.svg' %}" style="width: 100%;transform: scale(0.8)" alt="My image">
        </td>
        <td width="15px">

        </td>
        <td style="font-size:15px;">
          <b class="text-uppercase">Registro producción académica</b>
        </td>
      </tr>
    </table>

    <hr>
    <br>
    <form enctype="multipart/form-data" method="post" action="${id_explab}">
      {% csrf_token %}
    
      <div class="form-grid card bg-light" style="margin-bottom:16px">
        <div>{{ form.autores_trabajo|as_crispy_field }}</div>
        <div>{{ form.nombre_trabajo|as_crispy_field }}</div>
        <div>{{ form.pais_publicacion|as_crispy_field }}</div>

        <div>{{ form.fecha_publicacion|as_crispy_field }}</div>
        <div>{{ form.nombre_revista|as_crispy_field }}</div>
        <div>{{ form.area_concentracion|as_crispy_field }}</div>

        <div class="full-row">{{ form.linea_pesquisa|as_crispy_field }}</div>
      </div>
      <div class="form-grid card bg-light">
        <div class="full-row">{{ form.doi_link_publicacion|as_crispy_field }}</div>

      </div>

      <br>
      <hr>

      <table width="100%">
        <tr>
          <td width="90%">
  <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-sm btn-outline-success" type="submit">
          <table>
            <tr>
              <td>
                <img src="{% static 'bs532/img/imghv/guardar.svg' %}"
                  style="display: flex; width:20px;align-items: center;" alt="My image">
              </td>
              <td>
                Guardar
              </td>
            </tr>
          </table>

        </button>


        <a onclick="ProduccionAcademicaOK()" class="btn btn-sm btn-outline-danger">

          <table>
            <tr>
              <td>
                <img src="{% static 'bs532/img/imghv/Cancelar.svg' %}"
                  style="display: flex; width:20px;align-items: center;" alt="My image">
              </td>
              <td>
                Cancelar
              </td>
            </tr>
          </table>
        </a>

      </div>

          </td>
        </tr>
      </table>
    </form>


  </div>
  <br>
`;

    if (condicional) {
      document.getElementById("id_autores_trabajo").value = autores_trabajo;
      document.getElementById("id_nombre_trabajo").value = nombre_trabajo;
      document.getElementById("id_pais_publicacion").value = pais_publicacion;
      document.getElementById("id_fecha_publicacion").value = fecha_publicacion;
      document.getElementById("id_nombre_revista").value = nombre_revista;
      document.getElementById("id_area_concentracion").value = area_concentracion;
      document.getElementById("id_linea_pesquisa").value = linea_pesquisa;
      document.getElementById("id_doi_link_publicacion").value = doi_link_publicacion;
    } else {

    }

  }

  function ProduccionAcademicaOK() {
    registro_experiencia_laboral.innerHTML = ``
    experiencia_laboral.innerHTML = `
        
  <div class="class_div" >
  
    <table style="width:100%">
      <tr>
        <td width="35">
          <img src="{% static 'bs532/img/imghv/cientifica.svg' %}" style="width: 100%;transform: scale(0.8)" alt="My image">
        </td>
        <td width="15px">

        </td>
        <td style="font-size:15px;">
          <b class="text-uppercase">Producción académica</b>
        </td>
        <td style="font-size:15px;">
          <a href="{% url 'hojadevida' %}" class="btn btn-outline-danger float-end">

            <b>salir</b>
          </a>
        </td>

      </tr>
    </table>
      <br>
    <table width="100%">
      <tr>
      

        <td>
          <a class="btn btn-sm btn-outline-success float-end" onclick="RegistroProduccionAcademica()">
          Agregar producto
          </a>
        </td>
         <td width="1%"></td>

        
        <td width="35%">
          <div class="input-group mb-0">
              <span class="input-group-text" id="basic-addon1">buscar</span>
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
      </tr>
    </table>
    <div style="height:8px;width: 100%; background-color:rgba(255, 0, 0, 0) ;"></div>

    <div class="container-vertical">
    <table class="competencias-table">
            <thead>
                <tr>
                    <th>Nombre del trabajo</th>
                    <th>Fecha de publicación</th>
                    <th>Nombre de la  revista</th>
                    <th>Línea de investigación</th>
                    <th>Link o DOI</th>
                    <th class="acciones-col">Alternativas</th>
                </tr>
            </thead>

            <tbody>
                {% for qrdat in querydat %}
                <tr>
                      <td >
                        {{ qrdat.nombre_trabajo }}
                      </td>
                        <td >
                        {{ qrdat.fecha_publicacion|date:"d/m/Y" }}
                      </td>

                      <td >
                        {{ qrdat.nombre_revista }}
                      </td>

                      <td >
                          {{ qrdat.linea_pesquisa }}
                      </td>

                      <td class="acciones">
                          <!-- Ver soporte -->
                          <a href={{qrdat.doi_link_publicacion}} target="_blank" style="margin-left:0.6cm">
                            <img src=" {% static 'bs532/img/link.svg' %}" width="20vw"></a>
                        <a/> 

                        </td>

                        <td>

                          <!-- Editar -->
                            <button type="button" class="editar-registro icon-btn" onclick="RegistroProduccionAcademica(
                                  true,'{{ qrdat.id }}','{{qrdat.autores_trabajo}}','{{ qrdat.nombre_trabajo }}','{{ qrdat.pais_publicacion }}',
                                  '{{ qrdat.fecha_publicacion|date:"Y-m-d"}}','{{ qrdat.nombre_revista }}','{{ qrdat.area_concentracion }}',
                                  '{{ qrdat.linea_pesquisa }}', '{{ qrdat.doi_link_publicacion }}')" style="cursor:pointer">
                        
                                    <img src="{% static 'bs532/img/editar.svg' %}" alt="Editar">
                                </button>

                        <!-- Eliminar -->
                        <a href="{% url 'delete_file_record' 'ProduccionAcademica' qrdat.id %}" class="icon-btn">
                            <img src="{% static 'bs532/img/eliminar.svg' %}" alt="Eliminar">
                        </a>
                      </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
  </div>
`;
  }
</script>





<div class="posicion_hv_html">
  <div id="registro_experiencia_laboral"></div>
  <div id="experiencia_laboral"></div>
</div>

{% if errform %}
<script>
  window.addEventListener("load", async () => {
    await RegistroProduccionAcademica();
  });

</script>
{% else %}
<script>
  const registro_experiencia_laboral = document.getElementById("registro_experiencia_laboral");
  const experiencia_laboral = document.getElementById("experiencia_laboral");
  window.addEventListener("load", async () => {
    await ProduccionAcademicaOK();
  });
</script>
{% endif %}

{% endblock content_derecho %}