{% load static %}
{% load crispy_forms_tags %}


<!--ESTILO 1-->

<form enctype="multipart/form-data" method="post" id="editar_datos_formulario"
    action="{% url 'unidades_cursos_impartidos' id_actual %}">
    {% csrf_token %}

    <!-- ////////////////// aqui va el contenido que ya estaba /////////////-->
    <div class="modal-body">
        <div class=" form-grid card bg-light" style="margin-bottom:16px">

            {{form.tematicas|as_crispy_field}}

            {{form.numero_unidad|as_crispy_field}}

            {{form.disciplina_o_curso|as_crispy_field}}

        </div>

        <div class="card mb-3 p-3 bg-light">
            {{form.unidades_de_tematica|as_crispy_field}}
        </div>

    </div>



    <div class="modal-footer" style="justify-content: center; align-items: center;">

        <div style="display: flex; gap: 20px;">
            <div>
                <button class=" btn btn-sm btn-success" type="submit">
                    Guardar
                </button>
            </div>
            <a href="{% url 'delete_file_record' 'UnidadesCursosImpartidos' id_actual %}" class="btn btn-danger btn-sm">
                Eliminar
            </a>
            <div>
                <button type="button" class="btn btn-secondary btn-sm float-end" data-bs-dismiss="modal">
                    <b>Salir</b>
                </button>
            </div>
        </div>







    </div>

</form>