:root {
    --sombras-divs-app: 1px 1px 2px 0px rgba(136, 136, 136, 0.486);
    --sombras-divs-app-table: 1px 1px 2px 1px rgba(179, 179, 179, 0.596);
    --ensenanza-sombras-table: 1px 1px 5px 1px rgba(179, 179, 179, 0.774);
}


.foto-box {
    width: auto;
    border: 2px solid #0d7ffa;
    border-radius: 0px;
    background: #86868600;
}

.card {
    border-radius: 12px;
}

.posicion_hv_html {
    margin-left: 3vw;
    background-color: rgba(209, 14, 14, 0);
    border-radius: 10px;
    padding: 0px;
    margin-top: 1vw;
    font-size: 14px;
    box-shadow: var(--sombras-divs-app);
}

.posicion_hv_html-copia {
    background-color: rgba(236, 236, 236, 0);
    border-radius: 0px;
    padding: 0px;
    margin-top: 1vw;
    font-size: 14px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    background: #F3F3F3;
    padding: 15px;
    border-radius: 8px;
}

.full {
    grid-column: 1 / -1;
}

.diploma-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mensaje-archivo {
    margin-top: 5px;
    color: rgb(7, 3, 233);
    font-size: 14px;
}

.ver-diploma img {
    width: 28px;
    cursor: pointer;
}

.competencias-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--sombras-divs-app-table);
}

.competencias-table th,
.competencias-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;

}

.competencias-table thead {
    background: #353535;
    color: rgb(255, 255, 255);

}

.competencias-table-ensenanza {
    width: 100%;
    font-size: 13px;
    /* border-collapse: collapse; */
    background-color: rgba(201, 201, 201, 0.068);
    /* border: 1px solid rgba(172, 171, 171, 0.671); */
    box-shadow: var(--ensenanza-sombras-table);

}

.competencias-table-ensenanza th,
.competencias-table-ensenanza td {
    padding: 10px;
    text-align: justify;
    /* border: 1px solid rgba(172, 171, 171, 0.671); */

}

.competencias-table-ensenanza thead {
    background: #e7e7e7cc;
    color: rgb(0, 0, 0);

}

.class-shadow {
    box-shadow: var(--sombras-divs-app-table);
}

.acciones-col {
    width: auto;

}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    text-decoration: none;
}

.icon-btn img {
    width: 20px;
}

/*tablas verticales para moviles*/
.hidden-field-one {
    display: none;
}

.hidden-field-two {
    display: none;
}

.error-upload {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.ojo_ver_pdf {
    width: 28px;
    cursor: pointer;
    margin-top: 22px;
}

/* 📱 En pantallas pequeñas se "voltea" */
@media (max-width: 700px) {

    .container-vertical {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        position: relative;
        z-index: 0;

    }

    .font-size-presentacion {
        font-size: 10px;
    }


}

@media (max-width: 700px) {
    .form-grid {
        grid-template-columns: 1fr;

    }
}