    @font-face {
      font-family: 'Barlow';
      src: url('/static/fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    .miNombreMolina {
      margin-top: 35px;
      position: absolute;
      font-family: 'Barlow';
      font-weight: 500;
      font-size: 25px;
      color: #0D98BA;
      display: block;
      left: 50px;
    }

    /*1vw=1%*/

    .mitex_underline {
      font-family: 'Barlow';
      font-weight: 50;
      /* top: 150px; */
      border-bottom: 12px solid #0D98BA;
      color: #ffffff;
      width: 80%;
      left: 10%;
      /* font-size: 10px; */
      text-transform: uppercase;
      /* line-height: 20px; */
      position: relative;
      z-index: 1
    }

    .div_superior {
      height: 340px;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url('/static/bs532/img/imf.jpeg');
      background-position: center;
      background-size: cover;
    }

    .div_inferior {
      width: 100%;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      text-align: justify;

    }

    .button {
      background-color: rgba(255, 0, 0, 0);
      border: none;
      cursor: pointer;
      display: flex;
    }

    .accordion-icon {
      padding: 0px;
      margin-left: 13px;
    }

    .accordion-button:focus {
      box-shadow: none;
    }

    .accordion_body {
      top: -18px;
      margin-left: 66px;
      background-color: #dd090900;
      width: 150px;
      position: relative;
    }

    .accordion-icon {
      margin-right: 0px;
      transition: transform 0.3s;
    }

    .active .accordion-icon {
      transform: rotate(180deg);
    }

    .mainboton {
      margin-top: 7%;
      background-color: rgba(102, 51, 153, 0);
      margin-left: 2.5%;
      position: absolute;
    }

    #container_personal {
      display: flex;
      z-index: 0;
    }

    /* Panel izquierdo */
    .leftPanel {
      margin-left: 18px;
      border-radius: 20px;
      margin-top: 1vw;
      padding: 0vw;
      width: 0px;
      height: 500px;
      background-color: #ee9d11;
      position: fixed;
      transition: "";
      overflow: hidden;
      z-index: 1
    }

    /* Panel derecho ajustable */
    .custom_derecho {
      flex-grow: 1;
      padding: 0px;
      margin-left: 20px;
      transition: "";
    }

    /* Estilos del bot칩n de colapso */
    .collapse-btn {
      font-family: 'Barlow';
      background-color: #df171700;
      color: #ffffff;
      border: none;
      padding: 0px;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;

    }

    .classTable {
      position: absolute;
      top: 15px;
      left: 20px;
    }

    .closePanelButon {
      display: none;
      top: 20px;
      left: 20px;
      background-color: #df171700;
      border: none;
      padding: 0px;
      position: relative;
    }

    .class_span {
      font-family: 'Barlow';
      font-weight: bold;
      font-size: 25px;
      opacity: 1;
      top: -2.5px;
      position: relative;
      color: #ffffff;

    }




    .titulo-seccion {
      background: #2b2b2b;
      color: white;
      padding: 6px 12px;
      font-size: 14px;
      text-transform: uppercase;
    }

    .bloque {
      margin-bottom: 25px;
    }

    .cabecera {
      display: flex;
      gap: 20px;
      background: #038cc1;
      padding: 15px;
      color: white;
    }

    .foto {
      width: 170px;
      border-radius: 20%;
    }

    .grid-datos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6px;
      margin-top: 10px;
    }

    .tabla {
      width: 100%;
      border-collapse: collapse;
    }

    .tabla th {
      background: #9f9f9f;
      text-align: left;
    }

    .tabla td,
    .tabla th {
      padding: 6px;
      border-bottom: 1px solid #ddd;
    }

    .texto-justificado {
      text-align: justify;
      padding-left: 5px;
      padding-right: 7px;
    }

    /* El bot칩n es visible solo en pantallas m치s peque침as */
    @media (max-width: 1300px) {
      .miNombreMolina {
        transition: opacity 0.4s cubic-bezier(0.9, 0.03, 0.69, 0.22);
        display: none;
      }
    }