.foto-box {
    width: auto;
    border: 2px solid #0d7ffa;
    border-radius: 0px;
    background: #86868600;
}

.card {
    border-radius: 12px;
}

.posicion_hv_html {
    margin-left: 3vw;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 10px;
    margin-top: 1vw;
    font-size: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    background: #F3F3F3;
    padding: 15px;
    border-radius: 8px;
}

.full {
    grid-column: 1 / -1;
}

.diploma-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mensaje-archivo {
    margin-top: 5px;
    color: rgb(7, 3, 233);
    font-size: 14px;
}

.ver-diploma img {
    width: 28px;
    cursor: pointer;
}

.competencias-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.competencias-table th,
.competencias-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.competencias-table thead {
    background: #282831e8;
    color: white;
}

.acciones-col {
    width: 120px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.icon-btn img {
    width: 20px;
    height: 20px;
}


@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}