  @font-face {
    font-family: 'Barlow';
    src: url('/static/fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .menu-principal ul {
    list-style: none;
    border: 0px solid rgb(73, 16, 215);
    padding: 0;
    margin: 0;
  }

  .menu-principal li ul {
    border: rgb(205, 205, 205) 1px solid;
    position: absolute;
    background: rgb(225, 225, 225);
    display: block;
    width: 190px;
    top: 40px;
  }

  .menu-principal li {
    margin: 2px 0;
    display: flex;
    align-items: center;

  }

  .menu-principal ul li ul {
    display: none;
  }

  .menu-principal ul li li:hover {
    background-color: rgb(23, 92, 230, 0.1);

  }

  .menu-principal ul li a {
    color: rgb(5, 5, 5);
    font-family: 'Barlow';
    font-size: 18px;
    /*font-weight: 600;*/
    text-decoration: none;
    vertical-align: middle;
    padding: 3px;
    border-radius: 8px;
    /* forma redondeada base */

  }

  .menu-principal ul li a:hover {
    background-color: #000000;
  }

  table,
  th,
  td {
    border: 0px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 1px;
  }

  /*aplica hover color rojo*/
  .menu-principal ul li a:hover {
    color: #ffffff;
    cursor: pointer;
  }

  .menu-principal ul li a.active {
    color: #ffffff;
    background-color: #000000;
  }

  .menu-principal ul li:hover ul {
    display: block;
  }

  /* 
button:hover {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.05);
      transition: all .3s ease-in;
    } */
  /*
img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.05);
  /*transition: all .0s ease-in;
}

*/

  .contenedor_registro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }




  .cls_login {
    width: 34vw;
    font-family: 'Barlow';
    border-radius: 0.1vw;
    background-color: rgba(196, 196, 196, 0.801);
    border: rgb(187, 187, 187) 0px solid;
    padding: 3vw;
    font-size: 20px;
    margin-left: 33vw;
    margin-right: 33vw;
    margin-top: 2vw;
  }

  .class_login {
    border: silver 1px solid;
    margin: 10px;
    padding: 30px;
    margin-left: 470px;
    margin-right: 470px;
    background-color: #efecec;
    font-family: "arial";
  }

  .class_registro {
    border: rgb(227, 227, 227) 1px solid;
    margin: 2vw;
    padding: 3vw;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #f3f3f3;
    font-family: 'Barlow';
    font-size: 15px;
  }

  .asteriskField {
    display: none;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* Esto aqui es para quitar las flechitas que ponen numeros
    hacia arriba y hacia abajo */

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For Firefox  */

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* ---------.......-------*/