{% extends "base-principal.html" %}

{% load static %}

{% block left_Panel_base %}
<div class="configuracion-sticky">

    <div class="left-Panel-base-hijo">

        <div class="cls-login-name-user">
            Datos Personales
        </div>

        <div style="padding: 10px; padding-top: 17px; padding-bottom: 17px;">
            {% for e in datos_personales %}

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}ubicacion.svg" class="stilo-imagenes-portada" style="width: 21px">
                </div>
                <div>
                    {{ e.ciudad_residencia }}, {{ e.departamento_origen }}
                </div>
            </div>

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}email_black.svg" class="stilo-imagenes-portada">
                </div>
                <div>
                    {{ e.correo_electronico }}
                </div>
            </div>

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}linkedin_black.svg" class="stilo-imagenes-portada">
                </div>
                <div>
                    <a href="{{e.cuenta_linkedin}}" target="_blank"
                        style="text-decoration: none; font-weight: bold;">LinkedIn</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cls-login-name-user">
            Formación Académica
        </div>

        <div style="padding: 10px;">
            {% for e in estudios|slice:":2" %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.acronimo}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados">
                        <li style="  font-weight: bold;">
                            {{e.institucion_universitaria}}
                        </li>
                        <li>
                            {{ e.titulo_obtenido }}
                        </li>
                        <li>
                            {{e.ciudad_titulo}}, {{e.departamento_titulo}}, {{ e.pais_titulo }}
                        </li>
                    </ul>
                </div>
            </div>


            {% endfor %}
        </div>
        <div class="cls-login-name-user">
            Lugares de trabajo
        </div>

        <div style="padding: 10px;">
            {% for e in experiencias_laborales|slice:":2" %}


            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.acronimo}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados ">
                        <li style=" font-weight: bold;">
                            {{ e.nombre_empresa }}
                        </li>

                        <li>
                            {{e.ciudad_contrato}}, {{e.departamento_contrato}}, {{e.pais_contrato}}
                        </li>
                    </ul>

                </div>
            </div>

            {% endfor %}
        </div>

    </div>

    <div class="left-Panel-base-hijo" style="margin-top: 15px;">



        <div class="cls-login-name-user">
            Áreas de interés
        </div>
        <div style="padding: 10px;">
            {% for e in areas_de_interes %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.icono}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados">
                        <li style="  font-weight: bold;">
                            {{e.area_concentracion}}
                        </li>
                        <li>
                            {{e.linea_pesquisa}}
                        </li>

                    </ul>
                </div>
            </div>


            {% endfor %}
        </div>



    </div>

    <div class="left-Panel-base-hijo" style="margin-top: 15px;">


        <div class="cls-login-name-user">
            Competencia tecnológicas
        </div>
        <div class="tecnologias-container">
            {% for e in tecnologias %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.icono}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    {{ e.herramienta_tecnica }}
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}

{% block right_Panel_base %}

{% if user.is_staff %}
<div class="contenido-en-right-Panel-base">
    <div style="display:flex; gap: 10px;padding: 12px;">
        <div>
            <img src="{{foto_usuario_login}}"
                style="width:40px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
        </div>
        <div style="width: 100%;">
            <button type="button" class="mi_btn_public" onclick="elModalDeMisPublicaciones()">
                ¿Que vas a publicar hoy, {{ user.first_name|title }}?
            </button>
        </div>
    </div>

</div>

{% endif%}


{% for publicacion in las_publicaciones %}
<div class="contenido-en-right-Panel-base">
    <div style="height: auto;padding:12px; ">

        <div style="display:flex; gap: 10px;">

            <div style="display: flex; gap: 10px; width: 100%;">

                <div style="display: flex;">
                    <img src="{{foto_perfil}}"
                        style="width:40px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
                </div>

                <div>
                    <div style="font-size: 14px; font-weight: bold;">
                        {% for e in datos_personales %}
                        {{ e.segundo_nombre }} {{ e.primer_apellido }}
                        {% endfor %}
                    </div>
                    <div style="color: #000000ab;">
                        {{publicacion.fecha_publicacion|date:"j F \d\e Y"}}
                    </div>
                </div>

            </div>


            <div class="person_a" style="width: 30%; display: flex; align-items: center;justify-content: right;">
                {% if user.is_staff %}
                <a href="{% url 'delete_record_database' 'proyectoWeb' 'MisPublicaciones' publicacion.id %}"
                    class="icon-btn" style="font-size: 14px; color: rgb(69, 70, 69);">
                    Eliminar publicación
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div>

        {% if "youtube.com" in publicacion.publicaciones_url %}

        <div class="video_frame">
            <iframe src="https://www.youtube.com/embed/{{ publicacion.id_video }}?feature=oembed" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                title="YouTube Developers Live: Embedded Web Player Customization">
            </iframe>
        </div>
        <div class="person_a">
            <a href="{{publicacion.publicaciones_url}}" target="_blank">
                {{publicacion.titulo_publicacion}}
            </a>
        </div>


        <div class="margen">
            {{publicacion.descripcion_publicacion}}
        </div>


        {% else %}

        <img src="{{publicacion.imagen_publicacion}}" style="width: 100%;">

        <div class="person_a">
            <a href="{{publicacion.publicaciones_url}}" target="_blank">
                {{publicacion.titulo_publicacion}}
            </a>
        </div>


        <div class="margen">
            {{publicacion.descripcion_publicacion}}
        </div>

        {% endif %}

    </div>

</div>
{% endfor %}


{% endblock %}