{% extends "base-principal.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block left_Panel_base %}
<div class="configuracion-sticky">

    <div class="left-Panel-base-hijo">

        <div class="cls-login-name-user">
            Datos Personales
        </div>

        <div style="padding: 10px; padding-top: 17px; padding-bottom: 17px;">
            {% for e in datos_personales %}

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}ubicacion.svg" class="stilo-imagenes-portada" style="width: 21px">
                </div>
                <div>
                    {{ e.ciudad_residencia }}, {{ e.departamento_origen }}
                </div>
            </div>

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}email_black.svg" class="stilo-imagenes-portada">
                </div>
                <div>
                    {{ e.correo_electronico }}
                </div>
            </div>

            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}linkedin_black.svg" class="stilo-imagenes-portada">
                </div>
                <div>
                    <a href="{{e.cuenta_linkedin}}" target="_blank"
                        style="text-decoration: none; font-weight: bold;">LinkedIn</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cls-login-name-user">
            Formación Académica
        </div>

        <div style="padding: 10px;">
            {% for e in estudios|slice:":2" %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.acronimo}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados">
                        <li style="  font-weight: bold;">
                            {{e.institucion_universitaria}}
                        </li>
                        <li>
                            {{ e.titulo_obtenido }}
                        </li>
                        <li>
                            {{e.ciudad_titulo}}, {{e.departamento_titulo}}, {{ e.pais_titulo }}
                        </li>
                    </ul>
                </div>
            </div>


            {% endfor %}
        </div>
        <div class="cls-login-name-user">
            Lugares de trabajo
        </div>

        <div style="padding: 10px;">
            {% for e in experiencias_laborales|slice:":2" %}


            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.acronimo}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados ">
                        <li style=" font-weight: bold;">
                            {{ e.nombre_empresa }}
                        </li>

                        <li>
                            {{e.ciudad_contrato}}, {{e.departamento_contrato}}, {{e.pais_contrato}}
                        </li>
                    </ul>

                </div>
            </div>

            {% endfor %}
        </div>

        <!-- <div class="cls-login-name-user">
            Enlaces
        </div>

        <div style="padding: 10px; padding-top: 17px; padding-bottom: 17px;">
            {% for e in datos_personales %}
            <div class="style-info-personal-personal">
                <div>
                    <img src="{{ eye_icon }}linkedin_black.svg" class="stilo-imagenes-portada">
                </div>
                <div>
                    <a href="{{e.cuenta_linkedin}}" target="_blank">LinkedIn</a>
                </div>
            </div>
            {% endfor %}
        </div> -->
    </div>

    <div class="left-Panel-base-hijo" style="margin-top: 15px;">



        <div class="cls-login-name-user">
            Áreas de interés
        </div>
        <div style="padding: 10px;">
            {% for e in areas_de_interes %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.icono}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    <ul class="lista-de-grados">
                        <li style="  font-weight: bold;">
                            {{e.area_concentracion}}
                        </li>
                        <li>
                            {{e.linea_pesquisa}}
                        </li>

                    </ul>
                </div>
            </div>


            {% endfor %}
        </div>



    </div>

    <div class="left-Panel-base-hijo" style="margin-top: 15px;">


        <div class="cls-login-name-user">
            Competencia tecnológicas
        </div>
        <div class="tecnologias-container">
            {% for e in tecnologias %}

            <div class="style-info-personal">
                <div class="style-info-academica-laboral">
                    <img src="{{ eye_icon }}{{e.icono}}.png" class="border_imagenes_portada">
                </div>
                <div class="style-info-academica-laboral">
                    {{ e.herramienta_tecnica }}
                </div>
            </div>

            {% endfor %}
        </div>

    </div>


</div>


{% endblock %}

{% block right_Panel_base %}
<div style="padding-top:15px;">





</div>
{% endblock %}