<!DOCTYPE html>
<html lang="es">

<head>

    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bs532/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bs532/input-file/fancy-file/styles.css' %}" />
    <!-- Styles -->
    <link href="{% static 'bs532/css/gestion.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/cssbase.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/misopcionescss.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/configbase.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/confighv.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/configacordeon.css' %}" rel="stylesheet" />
    <!---   inicio codigo para formulario laboratorio  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!---   fin codigo para formulario laboratorio  --->
    <style>
        :root {
            --color-tabla-tr: rgb(243, 241, 241);
            --color-nivel: #ff8c0081;
            --sombras-divs-app-iconos: 1px 1px 7px 2px rgba(136, 136, 136, 0.486);
        }

        body {
            font-family: "arial";
            font-size: 15px;
        }

        .css-tabla tr {
            background-color: var(--color-tabla-tr);
        }

        .color-perfil-profesional {
            background-color: var(--color-tabla-tr);
        }

        .color-nivel {
            background-color: var(--color-nivel);
            color: transparent;
            ;
        }

        .cabecera-curr-hv {
            display: flex;
            gap: 20px;
            background-color: var(--color-nivel);
            padding: 15px;
            color: rgb(0, 0, 0);
        }

        .titulo-seccion {
            background: #2b2b2b;
            color: white;
            padding: 10px 12px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
        }

        .campos-flex {
            display: flex;
            gap: 15px;
        }

        .stilo-imagenes-intereses {
            width: 300px;
            box-shadow: var(--sombras-divs-app-iconos);
            border-radius: 5px;
        }


        .vistas_web_menu {
            display: flex;
            gap: 20px;
        }

        .icono_producto_curr {
            text-align: center;
        }

        .titulo_produccion a {
            text-decoration: none;
            color: rgb(2, 113, 146);
            font-size: 20px;
            font-weight: bold;
        }

        .titulo_produccion a:hover {
            text-decoration: underline;
        }

        .elimiar_campo a {
            text-decoration: none;
            font-size: 14px;

        }

        .elimiar_campo a:hover {
            text-decoration: underline;
        }

        @media (max-width: 800px) {
            .cabecera-curr-hv {
                flex-direction: column;
                text-align: center;
            }

            .campos-flex {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                text-align: center;
            }

            .vistas_web_menu {
                flex-direction: column;
                padding: 10px;

            }

            .stilo-imagenes-intereses {
                width: 100%;
            }
        }
    </style>

</head>

<body class="body-background-color">

    <div class="contenedor-home-computador">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">

                <!-- SEARCH A LA DERECHA -->

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar">
                    <button class="btn btn-light btn-sm">
                        <img src="{{ eye_icon }}buscar.svg" style="height: 20px; width: 20px;">
                    </button>
                </form>



                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">

                    <!-- MENÚ CENTRADO -->
                    <ul class="navbar-nav mx-auto text-center gap-1">

                        <li>
                            <a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %} nav-link"
                                href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li>
                            <a class="{% if request.resolver_match.url_name == 'docencia' %}active{% endif %} nav-link"
                                href="{% url 'docencia' %}">Enseñanza</a>
                        </li>
                        <li>
                            <a class="{% if request.resolver_match.url_name == 'intereses' %}active{% endif %} nav-link"
                                href="{% url 'intereses' %}">Intereses</a>
                        </li>
                        <li>
                            <a class="{% if request.resolver_match.url_name == 'academia' %}active{% endif %} nav-link"
                                href="{% url 'academia' %}">Producción</a>
                        </li>



                        <li>
                            <a class="{% if request.resolver_match.url_name == 'publicaciones' %}active{% endif %} nav-link"
                                href="{% url 'publicaciones' %}">Publicaciones</a>
                        </li>

                        {% if user.is_authenticated %}
                        {% if puede_ver_hv %}
                        <li>
                            <a class="{% if request.resolver_match.url_name == 'hojadevida' %}active{% endif %} nav-link"
                                href="{% url 'hojadevida' 0 %}">
                                Gestión
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>


                    {% if user.is_authenticated %}

                    <div style="display: flex; gap: 10px;">
                        <div>
                            <a class="btn btn-dark" href="{% url 'cerrar_sesion' %}">
                                Cerrar sesión / {{ user.username }}
                            </a>
                        </div>

                        <div>
                            {% if foto_usuario_login %}
                            <img src="{{foto_usuario_login}}"
                                style="width:38px; height:38px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
                            {% else %}
                            <img src="{{ eye_icon }}persona-blanco.svg"
                                style="width:38px; height:38px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
                            {% endif %}

                        </div>

                        {% else %}

                        <div style="display: flex; gap: 10px;">
                            <div>
                                <a class="btn btn-dark" href="{% url 'logear' %}">
                                    Iniciar sesión / Registrarse
                                </a>
                            </div>
                            <div>
                                <img src="{{ eye_icon }}persona-blanco.svg"
                                    style="width:38px; height:38px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
        </nav>

    </div>

    <div class="contenedor-home-culular-tablet">
        <div class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div style="width:100%;">
                <div style="display:flex; width:100%;">
                    <div style="width:3%;">

                    </div>
                    <div style="width:7%; display: flex;align-items: center;">

                        <button onclick="toggleLeftPanel()" class="collapse-btn">
                            <img src="{{ eye_icon }}botton-despliegue.svg">
                        </button>

                    </div>
                    <!-- 70% -->
                    <div style="width:70%;">

                    </div>
                    <!-- 10% Hola -->
                    <div>

                    </div>
                    <div style="width:20px;">

                    </div>
                    <!-- 10% Cerrar sesión -->
                    <div>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar">
                            <button class="btn btn-light btn-sm">
                                <img src="{{ eye_icon }}buscar.svg" style="height: 20px; width: 20px;">
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="leftPanel-munu-principal">

            <div style="padding: 20px;">

                <h5 style="text-align: center;font-family: 'Barlow';">

                    Bienvenido

                    {% if user.is_authenticated %}

                    <br>

                    {{ user.first_name }} {{ user.last_name }}
                    {% endif %}

                </h5>
                <!-- Formulario simple que enviará una petición POST   -->

                <hr style="border: 2px solid  rgb(0, 0, 0);">

                <div style="background-color: rgba(60, 209, 90, 0);width:auto;">
                    <nav class="menu-principal">
                        <ul>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                                    href="{% url 'home' %}">
                                    Inicio
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'docencia' %}active{% endif %}"
                                    href="{% url 'docencia' %}" style="white-space: nowrap;">

                                    Enseñanza
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'intereses' %}active{% endif %}"
                                    href="{% url 'intereses' %}">
                                    Intereses
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'academia' %}active{% endif %} nav-link"
                                    href="{% url 'academia' %}">Producción</a>
                            </li>



                            <li>
                                <a class="{% if request.resolver_match.url_name == 'publicaciones' %}active{% endif %} nav-link"
                                    href="{% url 'publicaciones' %}">Publicaciones</a>
                            </li>



                            {% if user.is_authenticated %}
                            {% if puede_ver_hv %}
                            <li>
                                <a class="nav-link" href="{% url 'hojadevida' 0 %}">
                                    Gestión
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>

                </div>


                <hr style="border: 2px solid  rgb(0, 0, 0);">

                {% if user.is_authenticated %}

                <a class="btn btn-dark fw-bold" href="{% url 'cerrar_sesion' %}">
                    Cerrar sesión
                </a>


                {% else %}
                <a class="btn btn-dark" href="{% url 'logear' %}">
                    Iniciar sesión
                </a>
                {% endif %}
            </div>
        </div>

    </div>


    <div class="cuerpo-ccsbase-body">

        <div class="leftPanel">
            <div style="padding: 20px;">

                <h5 style="text-align: center;font-family: 'Barlow';">
                    Bienvenido
                    <br>
                    <b class="text-uppercase">
                        {% if user.is_authenticated %}
                        {{ user.first_name }} {{ user.last_name }}
                        {% endif %}
                    </b>
                </h5>


                <hr style="border: 2px solid  rgb(0, 0, 0);">

                <div style="background-color: rgba(60, 209, 90, 0);width:auto;">
                    <nav class="menu-principal">
                        <ul>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'get_datos' %}active{% endif %}"
                                    href="{% url 'home' %}">
                                    Inicio
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'exp_laboral' %}active{% endif %}"
                                    href="" style="white-space: nowrap;">
                                    Enseñanza
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'prod_acad' %}active{% endif %}"
                                    href="">
                                    Intereses
                                </a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'academia' %}active{% endif %} nav-link"
                                    href="{% url 'academia' %}">Producción</a>
                            </li>



                            <li>
                                <a class="{% if request.resolver_match.url_name == '' %}active{% endif %} nav-link"
                                    href="{% url 'publicaciones' %}">Publicaciones</a>
                            </li>



                            {% if user.is_authenticated %}
                            {% if puede_ver_hv %}
                            <li>
                                <a class="nav-link" href="{% url 'hojadevida' 0 %}">
                                    Gestión
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <hr style="border: 2px solid  rgb(0, 0, 0);">

                {% if user.is_authenticated %}

                <a class="btn btn-dark fw-bold" href="{% url 'cerrar_sesion' %}">
                    Cerrar sesión
                </a>


                {% else %}
                <a class="btn btn-dark" href="{% url 'logear' %}">
                    Iniciar sesión
                </a>
                {% endif %}
            </div>

        </div>



        {% block content_derecho %}



        {% endblock %}


    </div>



    <script>


        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".button");

            buttons.forEach(button => {
                button.addEventListener("click", function () {
                    const parentLi = button.parentElement; // Suponiendo que el botón está dentro de un <li>
                    const content = document.querySelector(button.getAttribute("data-bs-target"));

                    // Alternar la clase 'active' en el padre para activar el CSS
                    parentLi.classList.toggle("active");

                    // Manejo de la expansión y contracción del contenido
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null; // Colapsar
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px"; // Expandir
                    }
                });
            });
        });


        function toggleLeftPanel() {

            let widthVentana = document.querySelector('.leftPanel-munu-principal');
            if (widthVentana.style.width === "0px") {
                widthVentana.style.width = "200px";

                widthVentana.style.transition = "width 0.3s ease";

            } else {
                widthVentana.style.width = "0px";
                widthVentana.style.transition = "width 0.3s ease";
            }
        }



        function updateLeftPanel() {
            let anchoLeftVentana = window.innerWidth;
            const container_ccsbase = document.querySelector('#container-ccsbase');
            const contenedor_computador = document.querySelector('.contenedor-home-computador');
            const contenedor_tablet_celular = document.querySelector('.contenedor-home-culular-tablet');
            let leftPanelVentana = document.querySelector('.leftPanel-munu-principal');
            if (anchoLeftVentana <= 1200) {
                leftPanelVentana.style.width = "0px";
                leftPanelVentana.style.transition = "width 0.4s cubic-bezier(.66,.02,.87,-0.15)";
                contenedor_computador.style.display = "none";
                contenedor_tablet_celular.style.display = "block";
            } else {
                leftPanelVentana.style.width = "200px";
                leftPanelVentana.style.transition = "width 0.2s ease";
                contenedor_computador.style.display = "block";
                contenedor_tablet_celular.style.display = "none";
                container_ccsbase.style.display = 'flex'
            }
        }

        function actualizarColor() {

            let anchoVentana = window.innerWidth;
            let mitexElement = document.querySelector('.mitex_underline');


            if (mitexElement && anchoVentana <= 662) {

                mitexElement.style.top = '90px';
                mitexElement.style.fontSize = "59px";
                mitexElement.style.lineHeight = "80px";

            }

            if (mitexElement && anchoVentana <= 972 && anchoVentana > 662) {
                mitexElement.style.top = '65px';
                mitexElement.style.lineHeight = "100px"
                mitexElement.style.fontSize = "80px";

            }
            if (mitexElement && anchoVentana > 972) {
                mitexElement.style.top = '120px';
                mitexElement.style.lineHeight = "108px"
                mitexElement.style.fontSize = "80px";

            }
        }

        function updateBotton() {

            let collapseElementBtn = document.querySelector('.classTable');
            if (collapseElementBtn && anchoVentana <= 1000) {
                collapseElementBtn.style.display = "block";
            } else if (collapseElementBtn) {
                collapseElementBtn.style.display = "none";
            }

        }
        document.addEventListener("DOMContentLoaded", updateBotton);
        window.addEventListener('resize', updateBotton);


        document.addEventListener("DOMContentLoaded", () => {
            updateLeftPanel();


        });

        window.addEventListener("resize", () => {
            updateLeftPanel();

        });
    </script>
    <script src="{% static 'bs532/js/bootstrap.bundle.min.js'%}"></script>



</body>

</html>