<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}

  <!-- Bootstrap -->
  <link href="{% static 'bs532/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bs532/input-file/fancy-file/styles.css' %}" />
  <!-- Styles -->

  <link href="{% static 'bs532/css/configbase.css' %}" rel="stylesheet" />
  <link href="{% static 'bs532/css/cssbase.css' %}" rel="stylesheet" />



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>

  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


  <style>
    /* .cls-login-name-user {
      display: inline-block;
      background-color: #212529;
      color: rgb(255, 255, 255);
      font-weight: 700;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: default;
      user-select: none;
      border: 1px solid #212529;
    } */
  </style>

</head>

<body>

  <div class="contenedor-home-computador">
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
      <div class="container-fluid">
        <!-- SEARCH A LA DERECHA -->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar">
          <button class="btn btn-light btn-sm">
            <img src="{{ eye_icon }}buscar.svg" style="height: 20px; width: 20px;">
          </button>
        </form>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">

          <!-- MENÚ CENTRADO -->
          <ul class="navbar-nav mx-auto text-center gap-2">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Enseñanza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Investigación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
            {% if user.is_authenticated %}
            {% if puede_ver_hv %}
            <li>
              <a class="nav-link" href="{% url 'hojadevida' %}">
                Hoja de vida
              </a>
            </li>
            {% endif %}
            {% endif %}
          </ul>

          {% if user.is_authenticated %}

          <div style="display: flex; gap: 10px;">
            <div>
              <a class="btn btn-dark" href="{% url 'cerrar_sesion' %}">
                Cerrar sesión
              </a>
            </div>

            <div>
              <img src="{{foto_perfil}}"
                style="width:38px; height:38px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
            </div>

          </div>

          {% else %}

          <div style="display: flex; gap: 10px;">
            <div>
              <a class="btn btn-dark" href="{% url 'logear' %}">
                Iniciar sesión / Registrarse
              </a>
            </div>
            <div>
              <img src="{{ eye_icon }}persona-blanco.svg"
                style="width:38px; height:38px ;border-radius: 50%; border: 1px solid rgb(212, 212, 212);">
            </div>
          </div>

          {% endif %}

        </div>
      </div>
    </nav>
  </div>

  <div class="contenedor-home-culular-tablet">
    <div class="navbar navbar-expand-lg navbar-dark custom-navbar">
      <div style="width:100%;">
        <div style="display:flex; width:100%;">
          <div style="width:3%;">

          </div>
          <div style="display:flex; align-items:center; gap:20px;">
            <button onclick="toggleLeftPanel()" class="collapse-btn">
              <svg width="18" height="18" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" stroke-width='2'>
                <rect width="70" height="4" fill="white" />
                <rect y="9" width="70" height="4" fill="white" />
                <rect y="18" width="70" height="4" fill="white" />
              </svg>
            </button>
            <div>
              <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
            </div>
          </div>
          <!-- 70% -->
          <div style="width: 80px;">



          </div>

          <div style="width:70%;">

          </div>
          <!-- 10% Hola -->
          <div>

          </div>
          <div style="width:20px;">

          </div>
          <!-- 10% Cerrar sesión -->
          <div>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar">
              <button class="btn btn-light btn-sm">
                <img src="{{ eye_icon }}buscar.svg" style="height: 20px; width: 20px;">
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="leftPanel-munu-principal">

      <div style="padding: 20px;">

        <h5 style="text-align: center;font-family: 'Barlow';">

          Bienvenido

          {% if user.is_authenticated %}

          <br>

          {{ user.first_name }} {{ user.last_name }}
          {% endif %}

        </h5>
        <!-- Formulario simple que enviará una petición POST   -->

        <hr style="border: 2px solid  rgb(0, 0, 0);">

        <div style="background-color: rgba(60, 209, 90, 0);width:auto;">
          <nav class="menu-principal">
            <ul>

              <li>
                <a class="{% if request.resolver_match.url_name == 'get_datos' %}active{% endif %}"
                  href="{% url 'home' %}">
                  Inicio
                </a>
              </li>

              <li>
                <a class="{% if request.resolver_match.url_name == 'exp_laboral' %}active{% endif %}" href=""
                  style="white-space: nowrap;">
                  Enseñanza
                </a>
              </li>

              <li>
                <a class="{% if request.resolver_match.url_name == 'prod_acad' %}active{% endif %}" href="">
                  Investigación
                </a>
              </li>

              <li>
                <a class="{% if request.resolver_match.url_name == 'part_cient' %}active{% endif %}" href="">
                  Portafolio
                </a>
              </li>

              <li>
                <a class="{% if request.resolver_match.url_name == 'idiomas' %}active{% endif %}" href="">
                  Contacto
                </a>
              </li>

              {% if user.is_authenticated %}
              {% if puede_ver_hv %}
              <li>
                <a class="nav-link" href="{% url 'hojadevida' %}">
                  Hoja de vida
                </a>
              </li>
              {% endif %}
              {% endif %}
            </ul>
          </nav>

        </div>


        <hr style="border: 2px solid  rgb(0, 0, 0);">



        {% if user.is_authenticated %}

        <a class="btn btn-dark fw-bold" href="{% url 'cerrar_sesion' %}">
          Cerrar sesión
        </a>


        {% else %}
        <a class="btn btn-dark" href="{% url 'logear' %}">
          Iniciar sesión
        </a>
        {% endif %}
      </div>
    </div>

  </div>


  <div id="container-layout-dual">

    <div class="left-section-dual">
      {% block contenido-izquierdo %}

      {% endblock %}
    </div>

    <div class="right-section-dual">

      {% block contenido-derecho %}

      {% endblock %}
    </div>
  </div>

  <script>

    function toggleLeftPanel() {
      let anchoVentanapequenya = window.innerWidth;

      let widthVentana = document.querySelector('.leftPanel-munu-principal');
      if (widthVentana.style.width === "0px") {
        widthVentana.style.width = "200px";

        widthVentana.style.transition = "width 0.3s ease";

      } else {
        widthVentana.style.width = "0px";
        widthVentana.style.transition = "width 0.3s ease";
      }
    }

    function updateLeftPanel() {
      let anchoLeftVentana = window.innerWidth;
      const contenedor_computador = document.querySelector('.contenedor-home-computador');
      const contenedor_tablet_celular = document.querySelector('.contenedor-home-culular-tablet');
      let leftPanelVentana = document.querySelector('.leftPanel-munu-principal');
      if (anchoLeftVentana <= 1300) {
        leftPanelVentana.style.width = "0px";
        leftPanelVentana.style.transition = "width 0.4s cubic-bezier(.66,.02,.87,-0.15)";
        contenedor_computador.style.display = "none";
        contenedor_tablet_celular.style.display = "block";
      } else {
        leftPanelVentana.style.width = "200px";
        leftPanelVentana.style.transition = "width 0.2s ease";
        contenedor_computador.style.display = "block";
        contenedor_tablet_celular.style.display = "none";
      }

    }

    //Llama a la función al cargar la página
    document.addEventListener("DOMContentLoaded", updateLeftPanel);

    //Llama a la función al redimensionar la ventana
    window.addEventListener('resize', updateLeftPanel);

    const left_section_dual = document.querySelector(".left-section-dual");
    left_section_dual.style.background = "linear-gradient(rgba(0, 0, 0, 0.353), rgba(0, 0, 0, 0.386)), url('{{url_portada}}')";

  </script>

  <script src="{% static 'bs532/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>

<!-- Navigation Menu -->